*{
    font-family: -apple-system, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 32px;
  }

  body{
    position: relative;
    top: 10px;
    background-color: #120536;
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
   
}


.content {
    margin-top: -1px;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    padding: 2rem 10rem;
    background-color: #774de9;
  
}

.boton{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    height: 32px;
    border-radius: 20px;
    padding-left: 16px;
    padding-right: 16px;
    cursor:pointer;
    background-color: whitesmoke;
    color: #120536;
    margin: 5px;
}
.boton :hover{
    color:rgb(24, 9, 238); 
}

.card {
    position: relative;
    top: 120px;
    height:465px;
    width: 355px;
    border-radius: 5px;
    background-color:#774de9;
    overflow: hidden;
    text-align:left;
    font-weight: 700;
    size: 32px;
    line-height: 37px;
    left: 300px;
    color: #fff;
  }

  .card2 {
    position: relative;
    top: -350px;
    height:465px;
    width: 355px;
    border-radius: 5px;
    background-color:#774de9;
    overflow: hidden;
    text-align:left;
    font-weight: 700;
    size: 32px;
    line-height: 37px;
    left: 1000px;
    color: #fff;
  }
  .textcard1 {
    padding: 15px;
    
  }
  .img1 {
    padding: 15px;
  }

  #usuario {
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
    top: 50PX;
  }

  #contrasena {
    top: 50PX;
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
  }

  .boton2 {
    top: 50PX;
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
  }