*{
    margin: 0px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  }
    .cprincipal{
      background: url(./fondohome.jpg) no-repeat center center fixed;
      background-size:cover;
      display: flex;
      flex-direction: row;
      padding: 8rem;
    }  
  .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content:flex-end;
      padding: 0.5rem 10rem;
      background-color: #42215F;
      }
  
  .boton{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    display: inline-block;
    height: 32px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor:pointer;
    background-color: whitesmoke;
    color: #120536;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
  }
  .boton :hover{
      color:rgb(24, 9, 238); 
  }
  
  .card {
      box-sizing: border-box;
      height:365px;
      width: 555px;
      background-color: transparent;
      overflow: hidden;
      text-align:left;
      font-weight: 700;
      size: 32px;
      line-height: 37px;
      color: white;
      font-size: 32px;
      font-style: italic;  
    }
    .card2 {
        height:265px;
        width: 555px;
        background-color: transparent;
        text-align:left;
        font-weight: 100;
        line-height: 37px;
        color: white;
        font-size: 20px;
        font-style: italic;    
      }  
  
    .boton2 {
      top: 20PX;
      background-color: rgb(247, 20, 247);
      position: relative;
      align-items: center;
      margin: 5px;
      left: 10px;
      padding: 5px;
      border-radius: 20px;
      border-radius: solid;
      width: 70%;
    }
  
    .pie{
      position: relative;
      background: url(./fondo4.jpg) no-repeat center center fixed;
      background-size: cover;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2rem 10rem;
      color: #fff;
    }
  
    .logos {
      width: 100px;
      height: 100px;
      border-radius: 20px;
      display:inline-block;
      flex-direction: row;
      justify-content:flex-end;
      padding: 10px;
    }