*{
  margin: 0px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
  .cprincipal{
    background: url(./fondohome.jpg) no-repeat center center fixed;
    background-size: cover;
  }

 

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    padding: 0.5rem 10rem;
    background-color: #42215F;
    }

.boton{
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    display: inline-block;
    height: 32px;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    cursor:pointer;
    background-color: whitesmoke;
    color: #120536;
    margin: 10px;
    border-width: 2px;
    border-style: solid;
}
.boton :hover{
    color:rgb(24, 9, 238); 
}

.card {
    box-sizing: border-box;
    border: 2px solid;
    position: relative;
    top: 120px;
    height:465px;
    width: 385px;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    text-align:left;
    font-weight: 700;
    size: 32px;
    line-height: 37px;
    left: 200px;
    color: white;
    font-size: 28px;
    font-style: italic; 
    padding: 10px;   
  
  }

  .card2 {
    box-sizing: border-box;
    border: 2px solid;
    position: relative;
    top: -350px;
    height:465px;
    width: 355px;
    border-radius: 10px;
    background-color: transparent;
    overflow: hidden;
    text-align:left;
    font-weight: 700;
    size: 32px;
    line-height: 37px;
    left: 800px;
    color: #fff;
  }

  #usuario {
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
    top: 50PX;
    width: 65%;
  }

  #contrasena {
    top: 50PX;
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
    width: 65%;
  }

  .boton2 {
    top: 50PX;
    background-color: whitesmoke;
    position: relative;
    align-items: center;
    margin: 10px;
    left: 50px;
    right: 50px;
    padding: 5px;
    border-radius: 5px;
    border-radius: solid;
    width: 70%;
  }

  .pie{
    background: url(./fondo4.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 10rem;
    color: #fff;
  }

  .logos {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    display:inline-block;
    flex-direction: row;
    justify-content:flex-end;
    padding: 10px;
  }
